*{
    font-family: Roboto;
}

body{
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: rgb(230, 225, 225);
}

.superior,.menu,.esquerda,.direita{
    display: flex;
    align-items: center;
}

.menu{
    justify-content: space-between;
    width: 80%;
}

.logofilme{
    width: 91px;
    height: 81px;
}

.superior,.inferior{
    width: 100%;
}

.superior{
    background-color: #081c24;
}

.inferior{
    height: 47px;
}

.esquerda{
    padding-left: 0px;    
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

.direita{
    list-style: none;
    width: 200px;
    justify-content: space-between;
}

.esquerda,.direita{
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.barra{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    background-color: white;
}

.box1{
    width: 90%;
}

.caixa1{
    width: 100%;
    height: 100%;
    border-style: none;
}

.filme{
    display: flex;
    height: 300px;
    width: 90vW;
    margin: auto;
    padding: 10px 0;
}

.cartaz{
    min-width: 200px;
    max-width: 201px;
    height: 300px;
}

.poster{
    width: 100%;
    height: 100%;
}

.info{
    padding-left: 25px;
    max-width: 520px;
    background-color: rgb(245, 239, 239);
    max-height: 300px;
    min-height: 299px;
}

.corpo{
    display: flex;
    justify-content: center;    
}

.indice{
    list-style: none;
    width: 210px;
    padding-right: 50px;
}

.resultados{
    width: 741px;
}

.contFilmes,.contSeries{
    padding: 10px 0;
    font-size: 1em;
    border-bottom: 2px solid black;
}

.contFilmes{
    border-top: 2px solid black;
}

.filmess{
    padding: 0 0;
    width: 100%;
}

.filme{
    margin: 20px 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}