*{
    font-family: Roboto;
}

.topo{
    width: 100vw;
    height: 164px;
}

body{
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: rgb(230, 225, 225);
}

.superior,.menu,.esquerda,.direita{
    display: flex;
    align-items: center;
}

.menu{
    justify-content: space-between;
    width: 80%;
}

.logofilme{
    width: 91px;
    height: 81px;
}

.superior,.inferior{
    width: 100%;
}

.superior{
    background-color: #081c24;
    height: 75%;
}

.inferior{
    height: 25%;
    text-align: center;
    padding-bottom: 20px;
}

.esquerda{
    padding-left: 0px;    
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

.direita{
    list-style: none;
    width: 200px;
    justify-content: space-between;
}

.esquerda,.direita{
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.barra{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: white;
}

.box1{
    width: 90%;
}

.caixa1{
    width: 95%;
    height: 100%;
    border-style: none;
    padding: 0px 5px;
}

.super{
    margin: 0 0;
    padding: 10px;
}

.filme{
    display: flex;
    height: 300px;
    width: 90vW;
    margin: auto;
    padding: 10px 0;
}

.cartaz{
    min-width: 300px;
    height: 100%;
    position: relative;
    transition: all 0.3s;
}

.cartaz:hover{
    transform: scale(1.1, 1.1);
    z-index: 100;
}

.poster{
    width: 100%;
    height: 100%;    
}

.cartaz .info{
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
}

.info{
    display: none;
    color: rgb(235, 232, 232);
    padding: 5px 5px;
    max-width: 95%;
}

.cartaz:hover > .info{
    display: block;
}

.corpo{
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;  
    padding-top: 20px;
}

.botoes{
    padding: 0px 15px;
}

.contFilmes,.contSeries{
    padding: 10px 0;
    font-size: 1em;
    border-bottom: 2px solid black;
}

.contFilmes{
    border-top: 2px solid black;
}

.filmess{
    padding: 20px 0px;
    width: 95%;
    display: flex;
    overflow-x: hidden;
}

.filme{
    margin: 0;
    padding: 0;
    width: calc(100% / 4);
    height: 400px;
    box-shadow: 0px 1px 2px gray;
    background-color: rgb(245, 239, 239);
}

.icones:hover{
    cursor: pointer;
    font-size: 30px;
    color: gray;
}

.contSeries:hover{
    border-bottom-color: rgb(4, 248, 86);
    cursor: pointer;    
}

.contFilmes:hover{
    border-bottom-color: rgb(4, 248, 86);
    cursor: pointer;    
}

.navigation-fixed .topo{
    z-index: 100;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.75);
    height: 110px;
    transition: all 0.5s ease;
    opacity: 0.9;
}